.autocomplete_completionListElement
{
    margin : 0px!important ;
    margin-left: -40px;
    background-color : antiquewhite ;
    color : windowtext ;
    border : buttonshadow ;
    border-width : 1px ;
    border-style : solid ;
    cursor : 'default' ;
    overflow : auto ;
    height : auto ;
    font-family : Tahoma ;
    font-size : small ;
    text-align : left ;
    list-style-type : none ;
    }
/* AutoComplete highlighted item */
.autocomplete_highlightedListItem
   {
    background-color : #0078e7 ;
    color : white ;
    padding : 1px ;
    margin-left: -40px;
    }

    /* AutoComplete item */
.autocomplete_listItem
    {
    background-color : white ;
    color : black ;
    padding : 1px ;
    margin-left: -40px;
   }
